.carousel {
    position: relative;
    width: 400px;
    background-color: #D48806;
    border-radius:1rem
  }
  
  .carousel-card {
    color: white;  
   
  }
.carousel-btn{
    position: absolute;
    top: 42%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
}

@media (max-width:450px){
    .carousel {width: 200px;}
}