.menu-header{
    margin-top: 10px;
    border-bottom: 5px solid black;
    
}

@media (max-width: 481px) {

    .menu-header{
        margin-top: 5px;
    }
     
    .title-responisve{
        margin: 0 auto;
    }
}
  
@media (min-width: 481px) {
    .title-responisve{
        display: none;
    }
}

